$min-form-field-width: 280px;

.header {
    padding: 8px;
    background: #F5F5F5;
    white-space: nowrap;
  }
  
  h1{
    padding: 0px;
    margin: 0px;
  }
  h2{
    color: rgba(0, 0, 0, 0.54);
    display: flex;
    padding: 0px;
    margin: 0px;
  }
  
  div {
    margin: 0px;
    flex-flow: row wrap;
    gap: 0px 16px;
  }
  
  form {
    padding: 16px;
  }
  
  mat-form-field.mat-form-field {
    min-width: $min-form-field-width;
  }
  
  .spacer {
    min-width: $min-form-field-width;
  }
  
  
  #mark{
    background-color: rgba(255, 0, 0, 0.1);
    padding: 2px;
  }